/* src/styles/components/loadingSpinner.css */

.loading-overlay {
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de todo */
}

.loading-box {
  background-color: #fff; /* Fondo de la caja */
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loading-box img {
  width: 80px; /* Ajusta el tamaño del GIF */
  height: 80px;
  margin-bottom: 15px;
}

.loading-box p {
  font-weight: 600;
  color: #555;
}